config.h*
aclocal.m4
autom4te.cache
config.log
config.status
config
configure
libs
libtool
m4
src/.deps
src/.libs
src/Makefile
src/Makefile.in
stamp-h1
tests/server/.deps
tests/server/Makefile
tests/server/Makefile.in
tests/server/gpuproxy_test
Makefile
Makefile.in
*.lo
*.o
*.la

src/generated/*.c
src/generated/*.h
